@import "fonts.less";

@general-color: #25323f;
@link-color: #c00000;

* { margin: 0; padding: 0; }

body {
  background: #dddce1 url('/front/img/moutainsbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;
  font-family: 'merriweather_regular';
  color: @general-color;
}

a {
  text-decoration: none;
  color: @link-color;
}